<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= heading%></h1>
    <h2>This is the results for Top Rated Books</h2>
    <table width=100% align="center">
    <% response.data.books.forEach(Book => { %>

      <tr>

      <td align="center">
        <img src= <%=Book.url%> class"aligncenter">
        <h3><%= Book.title%>by the author<%= Book.author%><%= Book.date %> </h3>
        <p><%= Book.detail%></p>
        <p>The Book rating is : <%= Book.rating %></p>
      </td>
    </tr>
    <% }) %>
  </table> 
  </body>

  <%- include('./partials/footer.ejs') %>
</html>
